rect.Europe {
    fill: rgb(91, 129, 185);
}

rect.Latam {
    fill: yellowgreen;
}

rect.MENA {
    fill: wheat
}

rect.USandCanada {
    fill: skyblue;
}

text {
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.soft {
    fill-opacity: 0.1;
}