circle.grid {
    fill: transparent;
    stroke: lightgray;
}

line.grid {
    stroke: lightgray;
}

circle.grid.secondary {
    stroke: lightgray;
    stroke-dasharray: 2 2;
}

circle.category-dot {
    fill:slategrey;
}

text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-anchor: middle;
}

text#tipCentre {
    font-size: larger;
    font-weight: bolder;
}

text.cat-text {
    font-weight: bold;
    fill: white;
}

text.tip-text {
    color:blue;
}

path {
    fill-opacity: 0.4;
    stroke-width: 2;
}

.Pele {
    fill: rgb(47, 241, 57);
    stroke: rgb(47, 241, 57);
}

.Maradona {
    fill: rgb(0, 153, 181);
    stroke: rgb(0, 153, 181);
}

.Zidane {
    fill: rgb(13, 49, 104);
    stroke: rgb(13, 49, 104);
}

.Cruyff {
    fill: rgb(255, 179, 65);
    stroke: rgb(255, 179, 65);
}

.soften {
    opacity: 0.1;
}

.hidden {
    visibility: hidden;
}