
.bar {
    fill: lightgray;
    stroke: white;
    stroke-width: 1;
    cursor: pointer;
}

.bar.hide {
    fill-opacity: 0;
}

.EU {
    fill: #003399;
}

.non_EU {
    fill: lightgray;
}

text.legendText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

text.legendTitle {
    font-size: medium !important;
    font-weight: bold;
}

rect#legendBack {
    fill: white;
    stroke: rgba(50, 50, 50, 1);
    stroke-width: 0.5;
    stroke-dasharray: 1 1;
}