.Argentina {
    fill: #6CACE4;
}
.Portugal {
    fill: #DA291C;
}
.Spain {
    fill: #AA151B;
}
.Mexico {
    fill: #006847;
}
.France {
    fill: #0072bb;
}
.Uruguay {
    fill: #001489;
}
.Cameroon {
    fill: #087a5e;
}
.Hungary {
    fill: #477050;
}