path.country {
    stroke: rgb(40, 40, 40);
    stroke-opacity: 0.5;
}

path.hover {
    fill: yellow;
    stroke-opacity: 1 !important;
    stroke-width: 2 !important;
}

.hidden {
    display: none;
}
text {
    font-family: Arial, Helvetica, sans-serif;
}